<div class="main">
    <table class="table" *ngIf="loader; else spinner">
      <thead>
      <tr class="text-primary">
        <th scope="col">#</th>
        <th scope="col">Authors</th>

        <th class="d-flex justify-content-end">
          <button type="text" class="btn btn-primary" (click)="openModal()">Create Author</button>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let authors of authorService.authorsList let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{authors.author}}</td>
        <td class="d-flex justify-content-end">
          <span class="mx-2 text-success">
            <fa-icon class="cursor" [icon]="faEdit" (click)="sendId(authors.id)"></fa-icon>
          </span>
          <span class="mx-2 text-danger">
           <fa-icon class="cursor" [icon]="faTrash" (click)="delete(authors.id)"></fa-icon>
          </span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <app-create-edit-data #modal [pageName]="'author'"></app-create-edit-data>

  <ng-template #spinner>
    <app-loader></app-loader>
  </ng-template>
