<div class="wrapper h-100">
  <!--Top menu -->
  <div class="sidebar">
    <ul>
      <li>
        <a [routerLink]="['genres']" [routerLinkActive]="'active'">
          <span class="item">Genres</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['author']" [routerLinkActive]="'active'">
          <span class="item">Authors</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['book']" [routerLinkActive]="'active'">
          <span class="item">Books</span>
        </a>
      </li>
    </ul>
  </div>
</div>
